<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AccountApplication.Properties.Settings.AccountsDBConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=AppData\AccountsDB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
